.divGeneral{
  background-color: aqua;
  color: crimson;
}
#divPic{
  background-image: url(../../../public/media/duki\ \(1\).jpg);
  width: 10rem;
  height: 10rem;
  background-position: top;
}
.cardProducto{
  width: 18rem;
  margin: 4px;
}
.pic{
  width: 40rem;
  height: 40rem;
  margin: auto;
}
/* .carousel-item{
  justify-content: center;
  align-items: center;
} */
